@font-face {
  font-family: "Cooper";
  src: url("Cooper-Md-BT-Medium.ttf");
}

@font-face {
  font-family: "Cooper-Light";
  src: url("Cooper-Lt-BT-Light.ttf");
}

@font-face {
  font-family: "Lineto Brown";
  src: url("lineto-brown-bold.ttf");
}
